In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(29451, 12)

In [4]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [5]:
df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [6]:
df= df.drop(columns=['ADDRESS'],axis=1)

In [7]:
df['POSTED_BY'].unique()

array(['Owner', 'Dealer', 'Builder'], dtype=object)

In [8]:
len(df['POSTED_BY'].unique())

3

In [9]:
df['BHK_OR_RK'].unique()

array(['BHK', 'RK'], dtype=object)

In [10]:
len(df['BHK_OR_RK'].unique())

2

In [11]:
from sklearn.preprocessing import OrdinalEncoder
POSTED_BY=OrdinalEncoder(handle_unknown='use_encoded_value',unknown_value=-1)
BHK_OR_RK=OrdinalEncoder(handle_unknown='use_encoded_value',unknown_value=-1)

In [12]:
df.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE',
       'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [13]:
import numpy as np
POSTED_BY.fit(np.array(df['POSTED_BY']).reshape(-1,1))
BHK_OR_RK.fit(np.array(df['BHK_OR_RK']).reshape(-1,1))

df['POSTED_BY']=POSTED_BY.transform(np.array(df['POSTED_BY']).reshape(-1,1))
df['BHK_OR_RK']=BHK_OR_RK.transform(np.array(df['BHK_OR_RK']).reshape(-1,1))

In [14]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,2.0,0,0,2,0.0,1300.236407,1,1,12.969910,77.597960,55.0
1,1.0,0,0,2,0.0,1275.000000,1,1,12.274538,76.644605,51.0
2,2.0,0,0,2,0.0,933.159722,1,1,12.778033,77.632191,43.0
3,2.0,0,1,2,0.0,929.921143,1,1,28.642300,77.344500,62.5
4,1.0,1,0,2,0.0,999.009247,0,1,22.592200,88.484911,60.5

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  float64
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  float64
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   LONGITUDE              29451 non-null  float64
 9   LATITUDE               29451 non-null  float64
 10  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 2.5 MB

In [16]:
Dict = {'No': 0, 'Yes': 1}

In [17]:
df['TARGET(PRICE_IN_LACS)']=df['TARGET(PRICE_IN_LACS)'].map(Dict)

In [18]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,2.0,0,0,2,0.0,1300.236407,1,1,12.969910,77.597960,NaN
1,1.0,0,0,2,0.0,1275.000000,1,1,12.274538,76.644605,NaN
2,2.0,0,0,2,0.0,933.159722,1,1,12.778033,77.632191,NaN
3,2.0,0,1,2,0.0,929.921143,1,1,28.642300,77.344500,NaN
4,1.0,1,0,2,0.0,999.009247,0,1,22.592200,88.484911,NaN

In [19]:
df['TARGET(PRICE_IN_LACS)'].unique()

array([nan])

In [20]:
df["TARGET(PRICE_IN_LACS)"].fillna(0, inplace = True)

In [21]:
len(df['BHK_OR_RK'].unique())

2

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  float64
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  float64
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   LONGITUDE              29451 non-null  float64
 9   LATITUDE               29451 non-null  float64
 10  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 2.5 MB

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [24]:
X= df.drop(columns=['TARGET(PRICE_IN_LACS)'],axis=1)
y= df[['TARGET(PRICE_IN_LACS)']]

In [25]:
y.head()

   TARGET(PRICE_IN_LACS)
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

In [26]:
X_train,X_val,y_train,y_val=train_test_split(X,y)

In [27]:
rf=RandomForestClassifier()

In [28]:
rf.fit(X_train,y_train)

C:\Users\saina\AppData\Local\Temp/ipykernel_11188/1593328843.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

RandomForestClassifier()

In [29]:
pred=rf.predict(X_val)

In [30]:
from sklearn.metrics import accuracy_score

accuracy_score(pred,y_val)

1.0